<div class="containerOutput" [hidden]="!search">
<div class="containerLocationData">
  <span class="LocationDataSpan">{{this.cityNameOutput}}</span>
  <span class="LocationDataSpan">{{this.countryOutput}}</span>
  <span class="LocationDataSpan"><span>Lng: </span>{{this.longitudeOutput}}<span> Lat: </span>{{this.latitudeOutput}}</span>
</div> <hr>
 <div class="containerWeatherData">
    <div class="containerWeatherDataSpan">
      <span class="headerSpan">Weather</span>
      <span class="data">{{this.weatherOutput}}</span>
    </div>
    <div class="containerWeatherDataSpan">
      <span class="headerSpan">Temperature</span>
      <span class="data">{{this.tempOutput}}</span>
    </div>
   <div class="containerWeatherDataSpan">
     <span class="headerSpan">Wind Speed</span>
     <span class="data">{{this.windSpeedOutput}}</span>
   </div>
   <div class="containerWeatherDataSpan">
     <span class="headerSpan">Description</span>
     <span class="dataDescription">{{this.weatherDescriptionOutput}}</span>
   </div>
   <div class="containerWeatherDataSpan">
     <span class="headerSpan">Humidity</span>
     <span class="data">{{this.humidityOutput}}%</span>
   </div>
   <div class="containerWeatherDataSpan">
     <span class="headerSpan">Pressure</span>
     <span class="data">{{this.pressureOutput}}</span>
   </div>
 </div>
</div>
